:root {
    --pink: #eecfc5;
    --gold: #AC773C;
    --purple: #BFB0BE;
    --gray:#f0f7f8;
    --mustard-green: #B09F34;
    --dark-green: #039d69;
    --green:#6aeeb5;
    --radius:.02rem;
    --font1:'Raleway', sans-serif;
    --font2:'Poppins', sans-serif;
}

* {
    margin:0;
    padding: 0;
    box-sizing:border-box;
}

li, a, button {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 24px;
    text-decoration:none;
    color:black;
}

header {
    background-color: var(--pink);
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 30px 10%;
}

.logo {
    cursor:pointer;
}

.nav-links {
    list-style:none;
}

.nav-links li {
    display:inline-block;
    padding: 0 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s
}

.nav-links li a:hover {
    color:var(--dark-green);
}

button {
    font-family: 'Poppins' , sans-serif;
    font-size: 16px;
    padding: 16px 24px;
    background-color: var(--gold);
    border:none;
    border-radius:10px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
    color:white;
}

button:hover{
    background-color: var(--dark-green);
    opacity:75%;
    color:black;
}

/******* HERO SECTION *******/

.hero {
    display:flex;
    flex-flow:column;
    align-items:center;
    padding-top: 4rem;
    background: url(images/leaf-1.png)no-repeat;
    background-position: right;
}

.hero h1 {
    color:var(--gold);
    font-weight: 400;
    font-size: 40px;
    padding-bottom: 4rem;
    font-family:'Poppins', sans-serif;
}

.hero h2 {
    font-weight: 300;
    font-size: 64px;
    font-family:'Poppins', sans-serif;
    padding-bottom: 3rem;
    text-align:center;
}

.hero p {
    margin-bottom: 4rem;
    text-align:center;
    font-size: 21px;
    line-height: 1.5;
    font-weight: 200;
    font-family:'Raleway', sans-serif;
}

.btn-1 {
    border-radius: 150px;
    background: linear-gradient(88.92deg, #EECFC5 9.09%, #BFB0BE 58.34%, rgba(172, 119, 60, 0.94) 97.06%);
    margin-bottom: 6rem;
}

.hero i {
    padding-left: 10px;
}

/******* SERVICES SECTION *******/

.services {
    background-color: var(--purple);
    padding: 1rem;
}

.wrapper {
    display:flex;
    flex-flow:column;
    flex-direction:row;
    justify-content: space-between;
    column-gap: 2rem;
}

.icon {
    display:flex;
    flex-direction:column;
    margin-bottom: 1rem;
    margin-left: -20px;
    padding: 1rem 0;
}

#first {
    margin-left: 0px;
}

strong {
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.services-1,
.services-2,
.services-3 {
    width: 40%;
} 

.services-1 p,
.services-2 p,
.services-3 p {
    font-family:'Raleway', sans-serif;
    font-weight: normal;
    padding: 2rem 0rem;
}

/******* MY WORK SECTION *******/

.my-work {
    display:flex;
    flex-flow:column;
    align-items:center;
    padding-top: 8rem;
}

.my-work h2,
.my-work p {
    padding-bottom: 2rem;
    font-family:'Raleway', sans-serif;
}

.my-work h2 {
    font-size: 40px;
    font-weight: 500;
    font-family:'Poppins' , sans-serif;
}

.proj-1,
.proj-2 {
    background-color: var(--mustard-green);
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 100%;
    padding: 4rem 0; 
}

#ddw-img {
    padding-left: 6rem;
}

.proj-1 img, 
.proj-2 img, 
.proj-3 img {
    padding-left: 10rem;
}

.proj-1 img:hover,
.proj-2 img:hover,
.proj-3 img:hover {
    transform: scale(1.1);
    transition: 3s;  
}

.proj-3 {
    margin-top: 4rem;
    width: 100%;
    background-color: var(--mustard-green);
    background-color: var(--mustard-green);
    padding:4rem 0;
    transition:1s;
}

.my-work a:hover {
    cursor:pointer;
}

.twb-case-study img {
    width: 100%;
}

.ddw-case-study img {
    width: 100%;
}

.coachsara-design img,
.coachsara-design h1 {
    margin-top: 5rem;
    width: 80%;
    padding-left: 10rem;
    text-align: center;
}

.cta {
    font-family: 'Raleway', sans-serif;
    line-height: 1;
    font-size: 16px;
    color:white;   
}

.here-btn {
    color:rgb(132, 132, 156);
    font-size: 21px;
    font-family: var(--font1);
    transform: all .3s ease-in-out; 
}

.here-btn:hover {
    color:var(--dark-green);
    text-transform: underline;
}

.description {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color:white;
    width: 500px;
    font-size: 28px;
    margin-right: 100px;
    display:inline-block;
    padding-right: 50px;
    float:right;
    padding-top: 120px;
}

/******* CONTACT SECTION *******/

.contact {
    display:flex;
    flex-flow:row wrap;
}

.contact-wrapper {
    display:flex;
    flex-flow:row wrap;
}

.contact img {
    margin-bottom: 0;
    height: 500px;
    width: 300px;
}

.contact h3 {
    padding: 8rem 0rem 2rem 7rem;
    font-family:'Raleway' ,sans-serif;
    font-weight: 500;
    font-size: 32px;
}

.contact p {
    padding-left: 7rem;
    padding-bottom: 4rem;
    font-size: 21px;
    font-weight: 300;
    font-family: 'Poppins',sans-serif;
}

.contact .btn-2 {
    margin-left: 6.8rem;
    border-radius: 150px;
    background: linear-gradient(88.92deg, #EECFC5 9.09%, #BFB0BE 58.34%, rgba(172, 119, 60, 0.94) 97.06%);
    margin-bottom: 7rem;
}

/****** FOOTER SECTION ******/

footer {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

.ftr-wrapper {
    margin-top: 7rem;
}

.copyright {
    display:flex;
    flex-flow:column;
    flex-direction:row;
    justify-content: space-between;
}

/* .copy {
    margin-left: 14rem;
} */

.privacy {
    margin-left: 14rem;
}

.terms {
    margin-left: 14rem;
}

/******* ABOUT PAGE STYLES  *******/

.about-me-wrapper {
    display:flex;
}

h4 {
    font-family: 'Mulish', sans-serif;
    color: #b39e09;
    font-size: 40px;
    text-align: center;
    padding-top: 4rem;
}

.profile img {
    width: 420px;
    height: 550px;
    border-radius: 8px;
    margin:6rem 8rem;
}

.skill-list, .tools {
    font-family: 'Mulish', sans-serif;
    color: #b39e09;
    font-size: 40px;
    padding-top: 4rem;
}

.all-about-me {
    line-height: 1.50;
    font-weight: 500;
    font-size: 21px;
    width: 600px;
    font-family: 'Raleway', sans-serif;
    margin-top: 4rem;
    margin-left: 5rem;
}

.skills {
    display:flex;
    flex-direction: row wrap;
}

.skill-list, .tools {
    padding-left: 15rem;
}

.list-items {
    line-height: 1.5;
    padding-top: 10rem;
    margin-left: -5rem;
    margin-bottom: 7rem;
}

/* CONTACT PAGE STYLES */

.contact-page {
    display:flex;
    flex-flow:row wrap;
    margin: 0 auto;
    max-width: 90%;
    justify-content: space-between;
}

.contact-me {
    display:flex;
    flex-direction: column;
    justify-content: left;
    padding-top:8rem;
    /* padding-left: 4rem; */
    width: 40%;
}

.contact-me h3 {
    font-family:'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 32px;
}

.socials ul {
    list-style:none;
}

.socials li {
    display:inline-block;
    margin-right: 2rem;
}

.socials i {
    color:#9b526a;
    font-size: 56px;
    margin-top: 2rem;
}

.socials i:hover {
    
    color:var(--green);
}

.details {
    font-family:'Raleway', serif;
    font-size: 18px;
}

/******* FORM SECTION *******/

.container {
    display:inline-block; 
    /* float: right; */
    max-width:1400px;
    padding-top: 75px;
    /* padding-left: 40px; */
    /* padding: 75px 60px; */
    width:50%;
    /* margin-left: 60px; */
}

.row {
    max-width:1100px;
    display:flex;
    justify-content: right;
    align-items:right;
}

.col {
    display:flex;
    flex-flow:row;
    justify-content: end;
}

.mssg {
    margin-bottom: 1rem;
    font-weight: 600;
    font-family: var(--font1);
}

.name-group,
.mail-group,
.price-group,
.time-group {
   float:left;
}

.mail-group, 
.time-group {
    padding-left: 10px;
}

.name-group,
.mail-group,
.price-group,
.time-group {
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 50%;
    font-weight: 600;
    font-family: var(--font1);
}

input, textarea {
    margin-top: 8px;
    width: 100%;
    font-family: var(--font1);
    font-weight: 200;
    letter-spacing:1px;
    padding: 12px;
    border-radius: 10px;
    background:var(--purple);
    border:none;
    outline:none;
    transition: all .4s ease-in-out;
    border: 1px solid black;
}

input::placeholder,
textarea::placeholder{
    color:#fff;
}

input:focus,
textarea:focus {
    background:var(purple);
}

input:read-write,
textarea:read-write {
    color:black;
    opacity:100%;
}

textarea {
    width: 100%;
}

.btn-3 {
    width: 100%;
    display:flex;
    justify-content: center;
    align-items:center;
    height: 44px;
    font-weight: normal;
    font-size: 16px;
    border-radius:100px;
}

.btn-3 img {
    margin-left: 10px;
    height: 20px;
}

.btn-3:hover {
    background: #9b526a;
    opacity:100%;
    border:2.5px solid var(--purple);
}

/******* MEDIA QUERIES *******/


@media(max-width:768px) {
    body{
        width: 100%;
    }
    header nav {
        margin-left: 40px;
        padding-left:80px;
    }
    .hero {
        position: relative;
        background-position: 125% 20%;
    }
    .hero p {
        padding: 0 20px;
    }
    .my-work {
        padding-top: 75px;
    }
    .proj-1 img,
    .proj-2 img,
    .proj-3 img {
        padding-left: 3rem;
    }
    .my-work p {
        padding-top: 50px;
    }
    /* .contact-wrapper {
        background: url(../images/leaf-2.png)left no-repeat;
        background-size: 50%;
    } */
    .contact img {
        display:none;
    }
    .contact div {
        position: relative;
        /* top: 40px; */
        background: url(../images/leaf-2.png)left no-repeat;
        background-size: 50%;
        background-position: -55% 75%;
    }
    /* .contact {
        background: url(../images/leaf-2.png) no-repeat cover;
    } */
    .contact h3,
    .contact p{
        padding-left: 8rem;
    }
    .contact p {
        padding-right: 2rem;
    }
    .contact .btn-2 {
        margin-left: 8rem;
        margin-bottom: 1rem;
    }
    .copy {
        font-size: 16px;
        margin: 0;
    }
    .privacy {
        font-size: 14px;
        margin-left: 0;
        margin: 0;
    }
    .terms {
        font-size: 14px;
        margin: 0;
    }
    .copyright {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:flex-start;
        gap: 32px;
        position: absolute;
        height: 15px;
        left: 56px;
        right: 32px;
        /* flex-flow:row wrap;
        flex-direction:row;
        justify-content: space-around; */
    }

    /******************* ABOUT ME PAGE ***********************/
    .about-me-wrapper {
        display:flex;
        flex-flow:column;
        flex-direction:column;
    }
    .profile {
        display:flex;
        justify-content:center;
    }
    .profile img {
        margin-bottom: 2rem;
    }
    .all-about-me {
        text-align: center;
        padding-bottom: 2rem;
    }
    .skill-list, .tools{
        padding-left: 4rem;
    }
    .list-items {
        margin-bottom: 0;
    }
    .ftr-wrapper {
        margin-top: 4rem;
    }
}   

@media(min-width:480px) {
    
}