:root {
    --pink: #eecfc5;
    --gold: #AC773C;
    --purple: #BFB0BE;
    --gray:#f0f7f8;
    --mustard-green: #B09F34;
    --dark-green: #039d69;
    --green:#6aeeb5;
    --radius:.02rem;
    --font1:'Raleway', sans-serif;
    --font2:'Poppins', sans-serif;
}

* {
    margin:0;
    padding: 0;
    box-sizing:border-box;
}

li, a, button {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 24px;
    text-decoration:none;
    color:black;
}

header {
    background-color: var(--pink);
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 30px 10%;
}

.logo {
    cursor:pointer;
}

.nav-links {
    list-style:none;
}

.nav-links li {
    display:inline-block;
    padding: 0 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s
}

.nav-links li a:hover {
    color:var(--dark-green);
}

button {
    font-family: 'Poppins' , sans-serif;
    font-size: 16px;
    padding: 16px 24px;
    background-color: var(--gold);
    border:none;
    border-radius:10px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
    color:white;
}

button:hover{
    background-color: var(--dark-green);
    opacity:75%;
    color:black;
}

/******* HERO SECTION *******/

.hero {
    display:flex;
    flex-flow:column;
    align-items:center;
    padding-top: 4rem;
    background: url(images/leaf-1.png)no-repeat;
    background-position: right;
}

.hero h1 {
    color:var(--gold);
    font-weight: 400;
    font-size: 40px;
    padding-bottom: 4rem;
    font-family:'Poppins', sans-serif;
}

.hero h2 {
    font-weight: 300;
    font-size: 64px;
    font-family:'Poppins', sans-serif;
    padding-bottom: 3rem;
    text-align:center;
}

.hero p {
    margin-bottom: 4rem;
    text-align:center;
    font-size: 21px;
    line-height: 1.5;
    font-weight: 200;
    font-family:'Raleway', sans-serif;
}

.btn-1 {
    border-radius: 150px;
    background: linear-gradient(88.92deg, #EECFC5 9.09%, #BFB0BE 58.34%, rgba(172, 119, 60, 0.94) 97.06%);
    margin-bottom: 6rem;
}

.hero i {
    padding-left: 10px;
}

/******* SERVICES SECTION *******/

.services {
    background-color: var(--purple);
    padding: 1rem;
}

.wrapper {
    display:flex;
    flex-flow:column;
    flex-direction:row;
    justify-content: space-between;
    column-gap: 2rem;
}

.icon {
    display:flex;
    flex-direction:column;
    margin-bottom: 1rem;
    margin-left: -20px;
    padding: 1rem 0;
}

#first {
    margin-left: 0px;
}

strong {
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.services-1,
.services-2,
.services-3 {
    width: 40%;
} 

.services-1 p,
.services-2 p,
.services-3 p {
    font-family:'Raleway', sans-serif;
    font-weight: normal;
    padding: 2rem 0rem;
}

/******* MY WORK SECTION *******/

.my-work {
    display:flex;
    flex-flow:column;
    align-items:center;
    padding-top: 8rem;
}

.my-work h2,
.my-work p {
    padding-bottom: 2rem;
    font-family:'Raleway', sans-serif;
}

.my-work h2 {
    font-size: 40px;
    font-weight: 500;
    font-family:'Poppins' , sans-serif;
}

.proj-1,
.proj-2 {
    background-color: var(--mustard-green);
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 100%;
    padding: 4rem 0; 
}

#ddw-img {
    padding-left: 6rem;
}

.proj-1 img, 
.proj-2 img, 
.proj-3 img {
    padding-left: 15rem;
}

.proj-1 img:hover,
.proj-2 img:hover,
.proj-3 img:hover {
    transform: scale(1.1);
    transition: 3s;  
}

.proj-3 {
    margin-top: 4rem;
    width: 100%;
    background-color: var(--mustard-green);
    background-color: var(--mustard-green);
    padding:4rem 0;
    transition:1s;
}

.my-work a:hover {
    cursor:pointer;
}

.twb-case-study img {
    width: 100%;
}

.ddw-case-study img {
    width: 100%;
}

.coachsara-design img,
.coachsara-design h1 {
    margin-top: 5rem;
    width: 80%;
    padding-left: 10rem;
    text-align: center;
}

.cta {
    font-family: 'Raleway', sans-serif;
    line-height: 1;
    font-size: 16px;
    color:var(--gray);    
}

.here-btn {
    color:rgb(132, 132, 156);
}

.here-btn:hover {
    color:white;
}

.description {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color:white;
    width: 400px;
    font-size: 28px;
    display:inline-block;
    padding-right: 50px;
    float:right;
    padding-top: 80px;
}

/******* CONTACT SECTION *******/

.contact {
    display:flex;
    flex-flow:row wrap;
}

.contact-wrapper {
    display:flex;
    flex-flow:row wrap;
}

.contact img {
    margin-bottom: 0;
    height: 500px;
    width: 300px;
}

.contact h3 {
    padding: 8rem 0rem 2rem 7rem;
    font-family:'Raleway' ,sans-serif;
    font-weight: 500;
    font-size: 32px;
}

.contact p {
    padding-left: 7rem;
    padding-bottom: 4rem;
    font-size: 21px;
    font-weight: 300;
    font-family: 'Poppins',sans-serif;
}

.contact .btn-2 {
    margin-left: 6.8rem;
    border-radius: 150px;
    background: linear-gradient(88.92deg, #EECFC5 9.09%, #BFB0BE 58.34%, rgba(172, 119, 60, 0.94) 97.06%);
    margin-bottom: 7rem;
}

/****** FOOTER SECTION ******/

footer {
    display:flex;
    flex-flow:row;
}

.ftr-wrapper {
    margin-top: 7rem;
}

.copyright {
    display:flex;
    flex-flow:column;
    flex-direction:row;
    justify-content: space-between;
}

.copy {
    margin-left: 14rem;
}

.privacy {
    margin-left: 14rem;
}

.terms {
    margin-left: 14rem;
}

/******* ABOUT PAGE STYLES  *******/

.about-me-wrapper {
    display:flex;
}

h4 {
    font-family: 'Mulish', sans-serif;
    color: #b39e09;
    font-size: 40px;
    text-align: center;
    padding-top: 4rem;
}

.profile img {
    width: 420px;
    height: 550px;
    border-radius: 8px;
    margin:6rem 8rem;
}

.skill-list, .tools {
    font-family: 'Mulish', sans-serif;
    color: #b39e09;
    font-size: 40px;
    padding-top: 4rem;
}

.all-about-me {
    line-height: 1.50;
    font-weight: 500;
    font-size: 21px;
    width: 600px;
    font-family: 'Raleway', sans-serif;
    margin-top: 8rem;
    margin-left: 5rem;
}

.skills {
    display:flex;
    flex-direction: row wrap;
}

.skill-list, .tools {
    padding-left: 15rem;
}

.list-items {
    line-height: 1.5;
    padding-top: 10rem;
    margin-left: -5rem;
    margin-bottom: 7rem;
}

/* CONTACT PAGE STYLES */

.contact-me {
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.socials ul {
    list-style:none;
}

.socials li {
    display:inline-block;
    margin-right: 2rem;
}

.socials i {
    color:#9B526A;
    font-size: 48px;
    /* padding-bottom: 2rem;*/
    margin-top: 2rem;
}

.socials i:hover {
    /* text-decoration: underline; */
    color:#9B526A;
    opacity:40%;
}

.container {
    width: 50%;
    display:inline-block; 
    float:right;
    margin-top: 4rem;
    margin-right: 2rem;
    margin-bottom: 7rem;
}

.contact-me {
    padding-top:8rem;
    padding-left: 4rem;
    width: 650px;
}

.contact-me h3 {
    font-family:'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 32px;
}

.details {
    font-family:'Raleway', serif;
    font-size: 18px;
}

/******* FORM SECTION *******/

.container {
    min-width: 960px;
    margin: auto;
}

.row {
    display:flex;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
}

.col {
    width: 50%;
}

section {
    width: 100%;
    /* background: #2d3436; */
}

form {
    width: 100%;
}

.name-group,
.email-group,
.mssg,
.price-group,
.time-group {
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

input, textarea {
    width: 50%;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 12px;
    border-radius: 10px;
    background:var(--purple);
    /* opacity: 60%; */
    border:none;
    outline:none;
    transition: all .3s ease-in-out;
}

input::placeholder,
textarea::placeholder{
    color:#fff;
}

input:focus, 
textarea:focus {
    background:var(purple);
    opacity:60%;
}

textarea {
    width: 100%;
}
