:root {
    --pink: #eecfc5;
    --gold: #AC773C;
    --purple: #BFB0BE;
    --gray:#f0f7f8;
    --mustard-green: #B09F34;
    --dark-green: #039d69;
    --green:#6aeeb5;
    --radius:.02rem;
    --font1:'Raleway', sans-serif;
    --font2:'Poppins', sans-serif;
}

* {
    margin:0;
    padding: 0;
    box-sizing:border-box;
}

img {
    width: 100%;
}

li, a, button {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 24px;
    text-decoration:none;
    color:black;
}

header {
    background-color: var(--pink);
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 30px 5%;
}

.logo {
    cursor:pointer;
}

.nav-links {
    list-style:none;
    margin-left: 6rem;
}

.nav-links li {
    display:inline-block;
    padding: 0 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s
}

.nav-links li a:hover {
    color:var(--dark-green);
}

button {
    font-family: 'Poppins' , sans-serif;
    font-size: 16px;
    padding: 16px 24px;
    background-color: var(--gold);
    border:none;
    border-radius:10px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
    color:white;
}

button:hover{
    background-color: var(--dark-green);
    opacity:75%;
    color:black;
}

/********************* HERO SECTION *********************/

.hero {
    display:flex;
    flex-flow:column;
    align-items: center;
    padding-top: 2rem;
    background: url(images/leaf-1.png) center no-repeat;
    background-position: 18rem 0px;
}

.hero h1 {
    color:var(--gold);
    font-weight: 500;
    font-size: 28px;
    padding-bottom: 2rem;
    font-family:var(--font2);
}

.hero h2 {
    font-weight: 300;
    font-size: 32px;
    line-height: 1.25;
    font-family: var(--font2);
    padding-bottom: 4rem;
    text-align:center;
}

.hero p {
    margin-bottom: 4rem;
    text-align:center;
    font-size: 1.313em;
    line-height: 1;
    font-weight: 300;
    font-family:var(--font1);
    padding: 0 8px;
}

.btn-1 {
    border-radius: 150px;
    background: linear-gradient(88.92deg, #EECFC5 9.09%, #BFB0BE 58.34%, rgba(172, 119, 60, 0.94) 97.06%);
    margin-bottom: 2rem;
}

.hero i {
    padding-left: 1rem;
}

/*************** SERVICES SECTION **************/

.services {
    background-color: var(--purple);
    padding: 1rem;
}

.wrapper {
    display:flex;
    flex-flow:column;
    align-items: center;
    justify-content: space-between;
}
.services-1,
.services-2,
.services-3 {
    padding-bottom: 2rem;
    /* margin: 0px 15px; */
}

.icon {
    display:flex;
    flex-flow:center;
    align-items:center;
    justify-content: center;
    margin-bottom: 1rem;
    width: 36px;
}

#first, #second, #third {
    /* margin-left: 8rem; */
}

strong {
    font-weight: 500;
    font-family: var(--font2);
    font-size: 16px;
}

.services-1 p,
.services-2 p,
.services-3 p {
    font-family:var(--font1);
    font-weight: normal;
}

/*************** SERVICES SECTION **************/

.my-work {
    display:flex;
    flex-flow:column;
    align-items:center;
    justify-content: center;
    align-content: center;
    /* padding-top: 6rem; */
}

.my-work h2,
.my-work p {
    padding-bottom: 2rem;
    font-family:var(--font1);
}

.my-work h2 {
    padding-top: 4rem;
    font-size: 40px;
    font-weight: 500;
    font-family:var(--font2);
}

.proj-1, 
.proj-2,
.proj-3 {
    background-color: var(--mustard-green);
    margin-top:4rem;
    padding: 3rem 0px;
    width: 100%;
}

.proj-1 img,
.proj-2 img,
.proj-3 img {
    height: 200px;
    /* margin-left: 1rem; */
}

.description {
    margin: 1rem 2rem;
}

.proj-1 img:hover,
.proj-2 img:hover,
.proj-3 img:hover {
    transform: scale(1.1);
    transition: 3s;  
}

.my-work a:hover {
    cursor:pointer;
}

.cta {
    font-family: var(--font1);
    line-height: 1;
    font-size: 16px;
    color:white;   
}

.here-btn {
    color:rgb(132, 132, 156);
    font-size: 21px;
    font-family: var(--font1);
    transform: all .3s ease-in-out; 
}

.here-btn:hover {
    color:var(--dark-green);
    text-transform: underline;
}

.description {
    font-family: var(--font2);
    line-height: 1.5;
    font-weight: 400;
    color:white;
    width: 22rem;
    font-size: 1.75rem;
    margin-right: 16px;
    margin-top: 2rem;
}

/***************** CONTACT FOOTER  ****************/

.contact {
    display:flex;
    flex-flow: row wrap;
    background: url(images/leaf-2.svg) left no-repeat;
    background-position: -425px 0px;
}

.contact-wrapper {
    display:flex;
    flex-flow:row wrap;
}

.contact h3 {
    padding: 4rem 0rem 2rem 3rem;
    font-family:'Raleway' ,sans-serif;
    font-weight: 500;
    font-size: 24px;
    padding-right: -4rem;
}

.contact p {
    padding-left: 3rem;
    padding-bottom: 4rem;
    font-size: 21px;
    font-weight: 300;
    font-family: var(--font2);
}

.contact .btn-2 {
    margin-left: 2rem;
    border-radius: 150px;
    background: linear-gradient(88.92deg, #EECFC5 9.09%, #BFB0BE 58.34%, rgba(172, 119, 60, 0.94) 97.06%);
    margin-bottom: 4rem;
}

footer {
    display:flex;
    flex-direction:column;
    align-items: center;
    text-align:center;
    justify-content: space-between;
}

.ftr-wrapper {
    /* margin-top: 1rem; */
    border-top: 3px solid var(--gray);
}
.copy {
    font-size: 1.05rem;
    font-family: var(--font2);
}

/*------------------------------------------------- 
        ******* ABOUT ME PAGE STYLES  *******
 -------------------------------------------------*/

.about-me-page {
    /* display:flex;
    flex-direction:column;
    flex-flow:center; */
}

h4 {
    font-family: 'Mulish', sans-serif;
    color: #b39e09;
    font-size: 40px;
    text-align: center;
    padding-top: 4rem;
}

.profile {
    /* width: 40%; */
}

.profile img {
    /* width: 420px; */
    /* height: 550px; */
    border-radius: 8px;
    margin:4rem 0rem;
    padding: 0 10px;
}

.all-about-me p {
    padding: 0 10px;
    margin-bottom: 2rem;
    text-align: center;
    line-height: 1.25;
    font-size: 24px;
}

.skill-list, .tools {
    font-family: 'Mulish', sans-serif;
    color: #b39e09;
    font-size: 40px;
    padding-top: 2rem;
}

.skills {
    display:flex;
    justify-content: center;
    flex-direction: row wrap;
}

.skill-list, .tools {
    /* padding-left: 15rem; */
}

.list-items {
    line-height: 1.5;
    padding-top: 8rem;
    margin-left: -5rem;
    margin-bottom: 4rem;
}
/*------------------------------------------------- 
        ******* CONTACT PAGE STYLES  *******
 -------------------------------------------------*/

.contact-page {
    flex-flow:column;
    align-items: center;
    padding-top: 2rem;
}

.contact-me h3 {
    font-family: var(--font2);
    font-size: 24px;
    font-weight: 500;
    padding: 32px 10px;
}

.socials ul {
    list-style:none;
}

.socials li {
    display:inline-block;
    margin-right: 2rem;
}

.socials i {
    color:#9b526a;
    font-size: 56px;
    margin: 2rem 0rem;
    padding-left: 10px;
}

.socials i:hover {
    color:var(--green);
}

.details {
    font-family:var(--font1);
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
}

/******************** FORM SECTION ******************/

.container {
    display:inline-block; 
    /* width:50%; */
    max-width:1400px;
    padding-top: 48px;
    padding-left: 10px;
    margin-bottom: 4rem;
}

.row {
    max-width:1100px;
    display:flex;
    justify-content: right;
    align-items:right;
}

.col {
    display:flex;
    flex-flow:row;
    flex-direction:column;
    justify-content: center;
}

.mssg {
    /* margin-bottom: 1rem; */
    font-weight: 600;
    font-family: var(--font1);
}

.name-group,
.mail-group,
.price-group,
.time-group {
   display:flex;
   /* padding-bottom: 10px; */
   /* margin-bottom: 10px; */
   /* width: 100%; */
   font-weight: 600;
   font-family: var(--font1);
}

input, textarea {
    margin: 8px 0px;
    width: 100%;
    font-family: var(--font1);
    font-weight: 200;
    letter-spacing:1px;
    padding: 12px;
    border-radius: 10px;
    background:var(--purple);
    border:none;
    outline:none;
    transition: all .4s ease-in-out;
    border: 1px solid black;
}

input::placeholder,
textarea::placeholder{
    color:#fff;
}

input:focus,
textarea:focus {
    background:var(purple);
}

input:read-write,
textarea:read-write {
    color:black;
    opacity:100%;
}

textarea {
    width: 100%;
}

.btn-3 {
    width: 100%;
    display:flex;
    justify-content: row wrap;
    align-items:center;
    height: 44px;
    font-weight: normal;
    font-size: 16px;
    border-radius:100px;
    margin-top: 2rem;
    padding-left: 110px;
}

.btn-3 p {
    text-align: center;
    align-content: center;
}

.btn-3 img {
    margin-left: 10px;
    height: 30px;
    width: 30px;
}

.btn-3:hover {
    background: #9b526a;
    opacity:100%;
    border:2.5px solid var(--purple);
}

/*------------------------------------------------- 
        ******* TABLET MEDIA QUERY STYLES  *******
 -------------------------------------------------*/

@media(min-width:768px) {
    .hero {
        background-position: 50rem 0px;
    }
    .hero h1 {
        padding-top: 3rem;
        font-size: 40px;
        padding-bottom: 4rem;
    }
    .hero h2 {
        font-size: 48px;
    }
    .wrapper {
        display:flex;
        flex-direction: row;
    }
    .services-1 {
        flex:300px;
    }
    .services-2, .services-3 {
        margin-right: 8px;
        flex: 300px;
    }
    .my-work-para {
        display:flex;
        flex-direction:row;
        justify-content:flex-start;
    }
    .proj-1,
    .proj-2,
    .proj-3 {
        /* padding-right: 550px; */
        display:flex;
        flex-direction:row;
        justify-content:flex-start;
    }
    #ddw-img img {
        padding-left: 180px;
        /* padding-right: 20px; */
    }
   .contact::before {
    /* background-position: 180px 180px;
    background: url(images/leaf-2.svg) right no-repeat; */
   }

/**************ABOUT ME PAGE STYLES*****************/

.about-me-page {
    display:flex;
    flex-direction:row;
    flex-flow:row wrap;
}
.about-me-wrapper {
    display:flex;
    justify-content: center;
}
h4 {
    font-family: 'Mulish', sans-serif;
    color: #b39e09;
    font-size: 40px;
    text-align: center;
    padding-top: 4rem;
    padding-left: 24rem;
    padding-bottom: 2rem;
    display: flex;
}
.profile {
    width: 40%;
}
.profile img {
    width: 420px;
    /* height: 550px; */
    border-radius: 1.5rem;
    margin:2.5rem 0rem;
}
.all-about-me {
    display:flex;
    line-height: 1.50;
    font-weight: 500;
    font-size: 21px;
    padding-top: 1rem;
    padding-left: 2rem;
    width: 50%;
    font-family: var(--font1);
}
.all-about-me p {
    text-align: left;
    font-size: 21px;
    line-height: 1.25;
}
.skill-list, .tools {
    font-family: 'Mulish', sans-serif;
    color: #b39e09;
    font-size: 40px;
    padding-top: 4rem;
}
.skills {
    display:flex;
    flex-direction: row wrap;
}
.skill-list, .tools {
    padding-left: 9rem;
}
.list-items {
    line-height: 1.5;
    padding-top: 10rem;
    margin-left: -5rem;
    margin-bottom: 7rem;
}
/**************CONTACT PAGE STYLES*****************/

.contact-page {
    display:flex;
    flex-flow:row wrap;
    margin: 0 auto;
    max-width: 90%;
    justify-content: space-between;
}
.contact-me {
    display:flex;
    flex-direction: column;
    justify-content: left;
    /* padding-top:8rem; */
    padding-left: 4rem;
    /* width: 50%; */
}
.contact-me h3 {
    font-family:var(--font2);
    font-size: 36px;
    font-weight: 500;
    padding-bottom: 32px;
    text-align: center;
}
.details, .socials {
    text-align: center;
}
.socials ul {
    list-style:none;
}

.socials li {
    display:inline-block;
    margin-right: 2rem;
}

.socials i {
    color:#9b526a;
    font-size: 56px;
    margin-top: 2rem;
}

.socials i:hover {
    
    color:var(--green);
}

.details {
    font-family:'Raleway', serif;
    font-size: 18px;
}
/****************** FORM SECTION *******************/

.container {
    display:inline-block; 
    max-width:1400px;
    padding-top: 75px;
    margin-left: 2rem;
    /* width:50%; */
}
.row {
    max-width:1100px;
    display:flex;
    justify-content:flex-end;
    flex-flow: column;
    align-items:right;
}
.col {
    display:flex;
    flex-flow:column wrap;
    justify-content: center;
}
.mssg {
    margin-bottom: 1rem;
    font-weight: 600;
    font-family: var(--font1);
}
.name-group,
.mail-group,
.price-group,
.time-group {
   float:left;
   padding-bottom: 10px;
   margin-bottom: 10px;
   width: 50%;
   font-weight: 600;
   font-family: var(--font1);
}

.mail-group, 
.time-group {
    padding-left: 10px;
}

.name-group,
.mail-group,
.price-group,
.time-group {
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 50%;
    font-weight: 600;
    font-family: var(--font1);
}
input, textarea {
    margin-top: 8px;
    width: 100%;
    font-family: var(--font1);
    font-weight: 200;
    letter-spacing:1px;
    padding: 12px;
    border-radius: 10px;
    background:var(--purple);
    border:none;
    outline:none;
    transition: all .4s ease-in-out;
    border: 1px solid black;
}

input::placeholder,
textarea::placeholder{
    color:#fff;
}

input:focus,
textarea:focus {
    background:var(purple);
}

input:read-write,
textarea:read-write {
    color:black;
    opacity:100%;
}
textarea {
    width: 100%;
}

.btn-3 {
    width: 100%;
    display:flex;
    justify-content: center;
    align-items:center;
    height: 44px;
    font-weight: normal;
    font-size: 16px;
    border-radius:100px;
}

.btn-3 img {
    margin-left: 10px;
    height: 20px;
}

.btn-3:hover {
    background: #9b526a;
    opacity:100%;
    border:2.5px solid var(--purple);
}
.ftr-wrapper {
    margin-top: 17rem;
}
.copyright {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;
    position:absolute;
    height: 15px;
    left: 56px;
    right: 32px;
 }
}

/*------------------------------------------------- 
        ******* DESKTOP MEDIA QUERY STYLES  *******
 -------------------------------------------------*/

@media(min-width:1200px) {
    /* CONTACT PAGE STYLES */

.contact-page {
    display:flex;
    flex-flow:row wrap;
    /* margin: 0px auto; */
    max-width: 90%;
    justify-content: space-between;
}

.contact-me {
    display:flex;
    flex-direction: column;
    justify-content: left;
    padding-top:5rem;
    padding-left: 0px;
    width: 45%;
}
.contact-me h3 {
    font-family:'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 32px;
    text-align-last: left;
}
.details {
    text-align:left;
}
.socials ul {
    list-style:none;
}
.socials li {
    display:inline-block;
    margin-right: 2rem;
}
.socials i {
    color:#9b526a;
    font-size: 56px;
    margin-top: 2rem;
}
.socials i:hover {
    
    color:var(--green);
}

.details {
    font-family:'Raleway', serif;
    font-size: 18px;
}

/******* FORM SECTION *******/

.container {
    display:inline-block; 
    /* float: right; */
    max-width:1400px;
    padding-top: 75px;
    /* padding-left: 40px; */
    /* padding: 75px 60px; */
    width:50%;
    /* margin-left: 60px; */
}

.row {
    max-width:1100px;
    display:flex;
    justify-content: right;
    align-items:right;
}

.col {
    display:flex;
    flex-flow:row;
    justify-content: end;
}

.mssg {
    margin-bottom: 1rem;
    font-weight: 600;
    font-family: var(--font1);
}

.name-group,
.mail-group,
.price-group,
.time-group {
   float:left;
}

.mail-group, 
.time-group {
    padding-left: 10px;
}

.name-group,
.mail-group,
.price-group,
.time-group {
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 50%;
    font-weight: 600;
    font-family: var(--font1);
}

input, textarea {
    margin-top: 8px;
    width: 100%;
    font-family: var(--font1);
    font-weight: 200;
    letter-spacing:1px;
    padding: 12px;
    border-radius: 10px;
    background:var(--purple);
    border:none;
    outline:none;
    transition: all .4s ease-in-out;
    border: 1px solid black;
}

input::placeholder,
textarea::placeholder{
    color:#fff;
}

input:focus,
textarea:focus {
    background:var(purple);
}

input:read-write,
textarea:read-write {
    color:black;
    opacity:100%;
}

textarea {
    width: 100%;
}

.btn-3 {
    width: 100%;
    display:flex;
    justify-content: center;
    align-items:center;
    height: 44px;
    font-weight: normal;
    font-size: 16px;
    border-radius:100px;
}

.btn-3 img {
    margin-left: 10px;
    height: 20px;
}

.btn-3:hover {
    background: #9b526a;
    opacity:100%;
    border:2.5px solid var(--purple);
}
.ftr-wrapper {
    margin-top: 10rem;
}
}

@media(min-width:1440px) {
    .ftr-wrapper {
        margin-top: 7rem;
    }
    .contact-me h3 {
        font-size: 48px;
    }
}
